@{
    ViewData["Title"] = "Home Page";
    string displayType = "none";
    if (ViewBag.ErrorMessage != null)
    {
        displayType = "block";
    }
}

<div class="alert alert-danger" role="alert" style="display:@displayType;">
    @ViewBag.ErrorMessage
</div>

<div class="xtrtools">
    @{
        if (ViewBag.IsAuthenticated == false)
        {
            <div class="xtrtools-noticiation">User is not authenticated, please check the config again</div>
        }
    }
    <div class="xtrtools-prform">
        <form method="post" id="xtrtools-form">
            <div class="nice-form-group">
                <label>PR URL</label>
                <input type="text" placeholder="@ViewBag.GitPrlUrlPreview" name="prurl" />
            </div>

            <div class="nice-form-group">
                <input id="xtrtools-form-submit" type="submit" value="Get PR Changes" class="btn btn-primary">
            </div>
        </form>
    </div>
    <br />
    <div class="xtrtools-prcheckbox" style="display:none;">
        <form method="post" id="xtrtools-form-filelist">

            <div class="nice-form-group">
                <label>Project Name</label>
                <input type="text" placeholder="" name="projectname" readonly />
            </div>

            <div class="nice-form-group">
                <label>Repository Name</label>
                <input type="text" placeholder="" name="repositoryname" readonly />
            </div>

            <div class="nice-form-group">
                <label>PR ID</label>
                <input type="text" placeholder="" name="prid" readonly />
            </div>

            <div class="nice-form-group">
                <label>Commmit ID</label>
                <input type="text" placeholder="" name="commitid" readonly />
            </div>

            <div class="nice-form-group">
                <label>Start Commit ID</label>
                <input type="text" placeholder="" name="sincecommitid" readonly />
            </div>

            <div class="nice-form-group">
                <label>File List</label>
                <ul id="filelist" class="list-group list-group-light" style="min-width: 22rem;">
                    @* <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        First checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Second checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Third checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Fourth checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Fifth checkbox
                    </li> *@
                </ul>
            </div>

            <div class="nice-form-group">
                <input id="xtrtools-form-filelist-submit" type="submit" value="Generate Document" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
