@page
@{
    ViewData["Title"] = "POA Document";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/modules/poadocument/css/module.css" asp-append-version="true" />
}

<h1>Index</h1>


@section Scripts {
    <script src="~/modules/poadocument/js/module.js" asp-append-version="true"></script>
}
